version: '3.8'

services:
  web:
    build: .
    container_name: oryvian
    ports:
      # Syntax: "${VARIABLE:-DEFAULT}:CONTAINER_PORT"
      # Wenn APP_PORT gesetzt ist, nutze ihn. Sonst nimm 5000.
      - "${APP_PORT:-5000}:5000"
    
    volumes:
      - ${UPLOAD_PATH:-./data/uploads}:/app/static/uploads
      - ${DB_PATH:-./data/instance}:/app/instance
    
    restart: unless-stopped
